* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
    width: 100%;
    height: 1000px;
    .container {
        max-width: 1400px;
        padding: 0px 32px;
        margin: auto;
            .centere {
                position: relative;
                top: 200px;
                width: 100%;
                height: 700px;
                background-color: rgb(255, 255, 255);
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                .center2 {           
                    width: 40%;
                    height: 700px;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 40px;
        
                    h1 {
                        color: rgb(0, 0, 0);
                        font-family: 'Inter', sans-serif;
                        position: relative;
                        text-align: start;
                        font-size: 60px;
                    }
        
                    p {
                        font-family: 'Montserrat', sans-serif;
                        text-align: start;
                        color: rgb(137, 132, 132);
                    }
        
                    button {
                        background-color: red;
                        width: 40%;
                        height: 60px;
                        border: none;
        
                        &:hover {
                            background-color: rgb(62, 60, 60);
                        }
                    }
        
                    a {
                        color: white;
                        font-size: 20px;
                        text-decoration: none;
                        text-align: start;
        
                        &:hover {
                            color: rgb(255, 255, 255);
                        }
        
                    }
                }
        
                .center1 {
                    width: 50%;
                    height: 680px;
                    .nnm {
                        position: relative;
                        top: 50px;
                        left: 100px;
                        object-fit: cover;
                        width: 70%;
                        height:80%;
                    }
        
                }
            }
        
        
      }  }
    